body {
  font-family: Arial, sans-serif;
  background: url("/img/sup2.png");
  background-repeat: repeat-x;
  
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(rgb(113, 123, 130),rgb(236, 211, 211));
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(235, 230, 230, 0.897);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background: #1c3651;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

p {
  text-align: center;
}

p a {
  color: #007BFF;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
