
body {
  font-family: Arial, sans-serif;
  background-color: #bdbbd4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(245, 245, 254);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2 {
  color: #333;
  text-align: center;
}

h2 {
  margin-top: 40px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  min-height: 100px;
}

button {
  
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #30309a;
  width: 200px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5645a0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Complaint List Styles */
#complaintsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.complaint-item {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.complaint-item p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  gap:10px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

button.edit-btn {
  width:50px;
  background-color: #1e5a8b;
  color: white;
  border: none;
}

button.edit-btn:hover {
  background-color: #6972d6;
}

button.delete-btn {
  width:65px;
  background-color: #ff4d4d;
  color: white;
 
}

button.delete-btn:hover {
  background-color: #e04343;
}

/* Logout Button */
#userLogout {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #7a2c26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

#userLogout:hover {
  background-color: #541110;
}
.button-container {
  display: flex;
  gap: 10px; /* Space between the buttons */
  justify-content: flex-start; /* Align buttons to the left */
  align-items: center; /* Ensure vertical alignment */
}


